# zsh 
/zsh/.config/zsh/plugins/

# inkscape
/inkscape/.config/inkscape/*
!/inkscape/.config/inkscape/extensions
!/inkscape/.config/inkscape/templates

# safeeyes
/safeeyes/.config/safeeyes/plugins

# VSCodium
/codium/.config/VSCodium/*
!/codium/.config/VSCodium/product.json
!/codium/.config/VSCodium/User/
/codium/.config/VSCodium/User/*
!/codium/.config/VSCodium/User/keybindings.json
!/codium/.config/VSCodium/User/settings.json
