[submodule "safeeyes/.config/safeeyes/plugins"]
	path = safeeyes/.config/safeeyes/plugins
	url = https://github.com/safeeyes/safeeyes-plugins.git
[submodule "chemacs/.emacs.d"]
	path = chemacs/.emacs.d
	url = https://github.com/plexus/chemacs2
