/* colors */

* {
  background:            #282c34ff;
  background-alt:        #00000000;
  background-bar:        #5b6268FF;
  foreground:            #bbc2cfFF;
  accent:                #32344A4d;
  border:                #3071dbFF;
  selected:              #3e4451ff;
}

