.theme-dark {
  /* --background-primary: #100e17; */
  /* --background-primary-alt: #0d0b12; */
  /* --background-secondary: #191621; */
  /* --background-secondary-alt: #0d0b12; */
  --text-normal: #bebebe;
  --text-accent: #0fb6d6;
  --text-sub-accent: #f4569d;
  --text-dim: #45aaff;
  --text-faint: #7aa2f7;
  --text-title-h1: var(--text-accent);
  --text-title-h2: #cbdbe5;
  --text-title-h3: #cbdbe5;
  --text-title-h4: #cbdbe5;
  --text-title-h5: #cbdbe5;
  --text-link: #b4b4b4;
  --text-a: #6bcafb;
  --text-a-hover: #6bcafb;
  --text-mark: #263d92;
  --pre-code: #252525;
  --interactive-accent: rgba(14, 210, 247, 0.5);
  --interactive-accent-hover: rgba(14, 210, 247, 0.8);
  --interactive-before: #5e6565;
  --background-modifier-border: #92a1a17a;
  --blockquote-border: #4aa8fb;
  --tag-background: #a7b0b3;
  --interactive-accent-rgb: #3dd7fb;
  --font-family-editor: 'Mononoki Nerd Font';
  --font-family-preview: 'Mononoki Nerd Font';
  --bg-sub-accent-55: rgba(244, 86, 157, 0.55);
  --bg-accent-55: rgba(14, 210, 247, 0.55);
  --text-highlight-bg: rgba(244, 86, 157, 0.25);
  --background-modifier-border: rgba(14, 210, 247, 0.05);
  --test-color: rgb(122, 162, 247);
  --editor-border-color: #101014;
}

/**************************************
| MAIN EDITOR / PREVIEW MODE
| -------------------------------------
| Write in the same section to keep them
| relatively sync with css.
/**************************************/

/**-------------------**
| HEADING STYLES
**--------------------**/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mononoki Nerd Font";
  font-weight: 600;
}

pre.HyperMD-header.HyperMD-header-2,
pre.HyperMD-header.HyperMD-header-3,
pre.HyperMD-header.HyperMD-header-4,
pre.HyperMD-header.HyperMD-header-5,
pre.HyperMD-header.HyperMD-header-6 {
  border-bottom: 1px solid;
  border-width: 1px;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, var(--text-sub-accent), #100e17, #100e17, #100e17);
}

.markdown-preview-section h1,
.cm-header-1 {
  font-size: 44px;
  color: var(--text-title-h1);
}

.markdown-preview-section h2,
.cm-header-2 {
  font-size: 30px;
  color: var(--text-title-h2);
}

.markdown-preview-section h3,
.cm-header-3 {
  font-size: 20px;
  color: var(--text-title-h2);
}

.markdown-preview-section h4,
.cm-header-4 {
  font-size: 16px;
  color: var(--text-title-h4);
}

.markdown-preview-section h5,
.cm-header-5 {
  font-size: 16px;
  color: var(--text-title-h5);
}

.markdown-preview-section h6,
.cm-header-6 {
  font-size: 16px;
  color: var(--text-title-h5);
}

/** headings */
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
  /* padding-top: 1.25rem; */
  margin: 45px 0 20px 0;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  border-width: 35%;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, var(--text-sub-accent), #100e17, #100e17, #100e17);
}

.view-header-icon {
  color: var(--text-accent);
}

/** Adding different # colors **/

.cm-formatting.cm-formatting-header.cm-header {
  color: var(--text-accent);
  opacity: 0.45;
}
