/** Basic config file **/

configuration {
  show-icons:         true;
  icon-theme:         "Beautyline";
  matching:           "fuzzy";
  case-sensitive:     false;
  theme:              "themes/kde_krunner.rasi";
}
