/** Basic config file **/

configuration {
  font:                           "Noto Sans 16";
  show-icons:                     false;
  icon-theme:                     "Beautyline";
  display-drun:                   "";
  drun-display-format:            "{name}";
  disable-history:                false;
  sidebar-mode:                   false;
  matching:                       "fuzzy";
  case-sensitive:                 false;
}

@theme "kde_krunner.rasi"
