* {
  font:   "monospace 14";

  bg0     : #1E1E1E;
  bg1     : #3B4252;
  bg2     : #24283b;
  bg3     : #414868;
  fg0     : #D8DEE9;
  fg1     : #abb2bf;
  fg2     : #737aa2;
  red:    #D54646;
  green:    #23D18B;
  yellow:    #D7BA7D;
  blue:    #569CD6;
  magenta:    #C586C0;
  cyan:    #29B8DB;

  accent: @red;
  urgent: @yellow;

  background-color : transparent;
  text-color       : @fg0;

  margin  : 0;
  padding : 0;
  spacing : 0;
}
