[Desktop Entry]
Type=Application
Terminal=false
MimeType=text/x-matlab
Exec=/media/MATLAB/bin/matlab -desktop
Name=MATLAB
Icon=matlab
Categories=Development;Math;Science
Comment=Scientific computing environment
StartupNotify=true
