[Desktop Entry]
Type=Application
Terminal=false
MimeType=text/x-matlab
Exec=LD_PRELOAD=/usr/lib/libstdc++.so LD_LIBRARY_PATH=/usr/lib/dri/ /media/MATLAB/R2022a/bin/matlab -desktop
Name=MATLAB
Icon=matlab
Categories=Development;Math;Science
Comment=Scientific computing environment
StartupNotify=true
